header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

body {
  font-family: 'Lato', sans-serif;
}

header li {
  float: left;
}

header li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

header li a:hover {
  background-color: #111;
}

figcaption {
  text-align: center;
}

img {
  border: 2px solid black;
}

div.column1, div.column2, div.column3 {
  float:left;
  width: 31%;
  border-right: 3px solid orange;
  margin: auto;
}

div.column3 {
  border-right: 0px;
  margin: auto;
  width: 33%;
}

h1 {
  color: blue;
  border-bottom: 3px solid orange;
  margin-top: 0px;
  margin-bottom: 1em;
  text-align: center;
}

div img {
  width: 90%;
  height: auto;
}

article {
  padding: 5px;
}

footer {
  width: 80%;
  padding-top: 1%;
  margin-left: 10%;
  border-top: 2px solid black;
  clear:both;
  text-align: center;
}